{{>/layout/header}}
<div class="container p-5">
    {{#board}}
    <div class="card">
        <div class="card-header"><b>글쓰기 화면입니다</b></div>
        <div class="card-body">
            <form action="/board/{{id}}/update" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="{{title}}" name="title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" name="content">{{content}}</textarea>
                </div>
                <button class="btn btn-primary form-control">글쓰기완료</button>
            </form>
        </div>
    </div>
    {{/board}}
    {{^board}}
        <div>
            표시할 내용 없음
        </div>
    {{/board}}
</div>
{{>/layout/footer}}